Repository eoludotun/mono-repo: changes, and which Jenkins stages are due for each by the changed paths.
All: Deploy Web app to Azure, Deploy API service to Azure portal

Deploy Web app to Azure:
              steps {
                  echo 'Hello World from Bash'
                  sh '''bash example.sh"'''
              }
      

Deploy API service to Azure portal:
              steps {
                  sh '''
                  javac HelloWorld.java
                  java HelloWorld"'''
              }
      

new test
  Jenkinsfile
Due: none

Update example.sh
  app3/example.sh
Due: Deploy Web app to Azure

new test
  app3/example.sh
Due: Deploy Web app to Azure

bash
  app3/example.sh
Due: Deploy Web app to Azure

bash2
  Jenkinsfile
Due: none

123
  app3/example.sh
Due: Deploy Web app to Azure

321
  Jenkinsfile
Due: none

Delete example.java
  app2/example.java
Due: Deploy API service to Azure portal

test example lane added
  app2/HelloWorld.java
Due: Deploy API service to Azure portal

more
  Jenkinsfile
  app1/example.py
Due: Deploy Web app to Azure

Update HelloWorld.java
  app2/HelloWorld.java
Due: Deploy API service to Azure portal

Update example.py
  app1/example.py
Due: Deploy Web app to Azure

Update Jenkinsfile
  Jenkinsfile
Due: none

test
  packages/app1/example.py
  packages/app2/HelloWorld.class
  packages/app2/HelloWorld.java
  packages/app3/example.sh
Due: none

test
  Jenkinsfile
Due: none

Update HelloWorld.java
  packages/app2/HelloWorld.java
Due: none

Path conditions:
  Deploy Web app to Azure: (any of: app1/**) or (any of: app3/**)
  Deploy API service to Azure portal: any of: app2/**
